body{
    font-family: Arial, sans-serif;
    background:#f4f6f9;
    margin:0;
}

header{
    background:#0B4F8C;
    color:white;
    text-align:center;
    padding:30px;
}

main{
    width:90%;
    max-width:1000px;
    margin:30px auto;
}

.card{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,.15);
}
